.card-body{
    height: 8em;
    cursor: pointer
}
.papelera{
    width: 10%;
    cursor: pointer;
}

.card-body{
    height: 8em;
    cursor: pointer
}

.card{
    background-color: #33b5e5;
    border: 2px solid rgba(0, 0, 0, 0.181);
    color: #fff;    
    width: 70%;
}

.card-footer{
    background-color: rgba(255, 255, 255, 0.665);
    border-top: 1px solid #eee;
}