<!--- MODAL AGREGAR AND EDITAR -->
<div class="modal fade" id="modal-agregar" tabindex="-1" aria-labelledby="#modal-agregar-titulo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-agregar-titulo">Agregar nota</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container d-flex justify-content-center" >
                    <textarea name="textoAgregar" id="textoAgregar" cols="30" rows="6" ></textarea>
                </div>
                <div class="container d-flex justify-content-center mt-3" >
                    <div class="container d-flex justify-content-center">
                        <label for="datePicker" class="me-3">Fecha:</label>
                        <input id="datePicker" type="date" value="2022-08-29">
                    </div>
                    <div class="container d-flex justify-content-center">
                        <label for="timePicker" class="me-3">Hora:</label>

                        <input type="time" id="timePicker" name="timePicker" value="18:15" required>
                    </div>
                </div>
                <div class="container selectCiudad m-3">
                    <select  class="form-control d-flex" id="CiudadAgregar" name="Ciudad">
                
                    </select>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" id="agregarBtnInterior" data-bs-dismiss="modal">Agregar</button>
            </div>
        </div>
    </div>
</div>


<!--- MODAL EDITAR -->
<div class="modal fade" id="modal-editar" tabindex="-1" aria-labelledby="#modal-editar-titulo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-editar-titulo">Editar nota</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>   
            </div>
            <div class="modal-body">
                <div class="container d-flex justify-content-center">
                    <textarea name="textoNota" id="textoNota" cols="30" rows="6" ></textarea>
                </div>
                <div class="container d-flex justify-content-center mt-3" >
                    <div class="container d-flex justify-content-center">
                        <label for="datePicker" class="me-3">Fecha:</label>
                        <input id="datePicker" type="date" value="2022-08-29">
                    </div>
                    <div class="container d-flex justify-content-center">
                        <label for="timePicker" class="me-3">Hora:</label>

                        <input type="time" id="timePicker" name="timePicker" required>
                    </div>
                </div>
                <div class="container selectCiudad m-3">
                    <select  class="form-control d-flex" id="CiudadEditar" name="Ciudad">
                
                    </select>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="editarNota_aux()">Editar</button>
        </div>
    </div>
</div>