
.page-size{
    padding-bottom:55px;
}

#agregar{
    cursor:pointer
}
#agregarB{
    cursor:pointer
}
@media (max-width: 769px){
    #textoNocturno{
        display: none;
    }
    #agregar{
        display:none
    }
    #footer{
        display:none
    }
    #agregarB{
        width: 9%;
    }
    .card{
        margin-left: 15%;
    }
}
@media(min-width: 769px){
    #agregarB{
        display:none
    }
    
}

.papelera{
    width: 10%;
    cursor: pointer;
}

